[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
"discord.py" = "*"
python-dotenv = "*"
python-dateutil = "*"
requests = "*"
inflect = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
